<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">playerid = {{ playerid }};</script>
    <style>
        canvas {
            border:1px solid #d3d3d3;
            background-color: #f1f1f1;
            border-radius: 5px;
        }
        .restbt{
            display: none;
        }
    </style>
</head>
<body class="thebody" style="text-align: center">
<br>
<p>We are finding a battle sea game for you, play this awhile</p>
<button id="RestBut">Restart</button>

<script src="{% static 'Flappy.js' %}"> </script>
</body>
</html>
