<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF -8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link type="text/javascript" href="{% static 'Game.js' %}">
   <link rel="stylesheet" href="{% static 'GamePageStyles.css' %}">
    <script type="text/javascript">playerid = {{ playerid }};</script>

</head>

<body>
    <div class="boards">
    {% for board in bcnt %}
        <div class="board" id="{{ board }}board">

        {% for row in lockcnt %}
        <div class="block-container">
            {% for col in lockcnt %}
                <div class="block" id='{{ board }}block{{ row }}{{ col }}'></div>
            {% endfor %}
        </div>
        {% endfor %}

        </div>
    {% endfor %}
    </div>
    <button id="submit">Submit</button>
    <script src="{% static 'Game.js' %}"> </script>
</body>

</html>